{% extends 'base.html' %}

{% block title %}Sell for more and Buy for less{% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}


{% block body %}
<style>
  .w3-myfont {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
</style>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><img class="" src="/static/img/logo1.png" width="190px" height="185px" alt="logo" style="float: left;"alt="logo"></h1>
        <p ml-5>ReuseX is a platform that lets you buy or sell anything on the platform. Anything and everything can be listed on the platform. We operate around the Heritage Ecosystem, and hence we guarantee safety and security for every student of Heritage on every transaction
 
          ReuseX is the brainchild of a student of Heritage itself. In these trying times, the trustworthiness of the buyer or seller is of utmost importance, and the Heritage Ecosystem guarantees that.
          Any student of the Heritage Group of Institutions can post listings to sell any item they wish to sell to their fellow students. Students can browse the listings and quickly search if any of the items of their choice is on sale.
           
           All items and transactions are restricted to students of Heritage Only, eliminating all possibilities of Fraud.
           
           Students can also post requests for items they might need on the platform, with a deadline if any.</p>

      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Sell for more<br>Buy for less</h2>
          <p>Why to spend all your pocket money on expensive short term use college stuffs?<br>Room is filled with things but no longer<br> useful :( ?
          <br>Done something creative but need a<br> platform to showcase through ads?</p>
          
        </div>
        <div class="col-md-4">
          <h2>With ReuseX<br>Earn-> Save -> Promote</h2>
          <p>Sell your Products to earn<br>Buy products from your collegemates<br> at low rates<br>Display your advertisments in our website<br>as ads. </p>
          
        </div>
        <div class="col-md-4">
          <h2>Just go to ReuseX and signup</h2>
          <p>Upload your product or buy from the uploaded once<br>Get full transprancy <br>No intermediate people<br>Nothing to pay</p>
          
        </div>
      </div>
        <div class = "text-center my-5">
          <h1>Its to the HITians, for the HITians, by the HITians.</h1>
          
          <h2 class="w3-myfont my-5" style="color: rgb(233, 34, 34)">A zero profit initiative...</h2>


        



      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>


 {% endblock %}