{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}

{% block body %}
<style>
  .center {
    padding: 10px;
    text-align: center;
  }
  </style>
  
  <!--<div class="alert alert-warning alert-dismissible fade show" role="alert">-->
  <!--  <strong>Thanks!</strong> We will get back to you soon.-->
  <!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
  <!--    <span aria-hidden="true">&times;</span>-->
  <!--  </button>-->
  <!--</div>-->
  {% for message in messages  %}
      <div class="container my-3">
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              <strong>Message : </strong> {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      </div>
        {% endfor %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div class="my-5 text-center">
  <!--    <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
      <h2>Contact Us</h2>
      <i class="material-icons " style="font-size: 100px;color:rgb(159, 95, 233);">favorite</i>
      <h4>Let us know how can we make your exprience better</h4>
  </div>
  
  
  <div class="center"  >
      <div class="row">
      <div class="container my-3">
          <form action="/contact" method="post">{% csrf_token %}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
        </div>
  
          <div class="form-group">
          <label for="name">Phone</label>
          <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
        </div>
  
  
         <div class="form-group">
          <label for="desc">How May We Help You?</label>
          <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
        </div>
      <button type="submit" class="btn btn-outline-primary">Submit</button>
  </form>
  
      </div>
      </div>
  
  </div>
  
  
  {% endblock %}