<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title%} {% endblock %}</title>
     <style>
  {% block css %}
       
{% endblock %}

  </style>
  </head>
  <body>

  <style>.resize {
    width: 35px;
    height: 35px;
  } </style>

<script src="https://kit.fontawesome.com/90c5b1c39d.js" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-dark " style="background-image: url(https://i.pinimg.com/originals/71/92/5c/71925c75936297af1e041e98cebfdfe6.jpg); background-size: 100%; ">
  <a class="navbar-brand" href="/"><h6></h6></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
        <a class="nav-link" href="/" ><h6>Home</h6> <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item {% block shopactive %}  {% endblock shopactive %}">
        <a class="nav-link" href="/shop" ><h6>Buy</h6> <span class="sr-only">(current)</span></a>
      </li>
      

      <li class="nav-item {% block sellactive %}  {% endblock sellactive %}">
        <a class="nav-link" href="/sell" ><h6>Sell</h6></a>
      </li>

      <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}">
        <a class="nav-link" href="/about" ><h6>About</h6></a>
      </li>

      <li class="nav-item {% block contactactive %}  {% endblock contactactive %}">
        <a class="nav-link" href="/contact" ><h6>Contact us</h6></a>
      </li>


    </ul>
    <form method='get' action='/search' class="form-inline my-2 my-lg-0">
      <input class="form-control sm-2 " type="search" placeholder="Search" aria-label="Search" name="query" id="query">
      <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
      
    </form>
    {% if user.is_authenticated %}
      <ul class="navbar-nav mr-2">
        <img class="resize ml-2 my-auto" src="/static/img/men1.png" alt="user">
        <li class="nav-item dropdown">
          
          <a class="nav-link dropdown-toggle"  href='#' id="navbarDropdown" role="button" data-toggle="dropdown">{{request.user}}</a>
            <div class="dropdown-menu mr-2" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="/logout">Logout</a>
            </div>
        </li>
      </ul>
      </div>
    {% else %}
    <!-- Button to  trigger Login modal -->
      <button type="button" class="btn btn-primary ml-2 mr-2" data-toggle="modal" data-target="#loginModal">
        Login
      </button>

      <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signupModal">
        SignUp
      </button>
      {% endif %}


        </div>
      </nav>



<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/signup" method='post'>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username which contains numbers and alphabets" required>
  </div>
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" required>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
  </div>
  <div class="form-group">
    <label for="pass1">Choose a password</label>
    <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password" required>
  </div>
  <div class="form-group">
    <label for="pass2">Confirm Password</label>
    <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again" required>
  </div>
 

        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>







  {% block body %} 
  
  {% endblock %}


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST"> {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter your username "required>
  </div>
  <div class="form-group">
    <label for="pass">Enter your password </label>
    <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password "required>
  </div>
 
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
       <div class="modal-footer">
      </div>
    </div>

  </div>
</div>


















<!-- Footer -->
<footer class="page-footer font-small stylish-color-light pt-4 " style = "background-color: rgb(3, 44, 46);">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: White">Footer Content</h5>
        <p style="color: White">Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: White">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: White">Privacy Policy</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 " style="color: White">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/contact" style="color: White">Contact us</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: White">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about" style="color: White">About us</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1" style="color: White">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <button type="button" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#signupModal">
        Sign Up!
      </button>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 2px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #ea4c89;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


</style>
  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a href="#" class="fa fa-facebook"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-twitter"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-google"></a>
    </li>
    <li class="list-inline-item">
      <a href= "https://www.linkedin.com/in/mrinal-ghoshal-71bb8b187/" class="fa fa-linkedin"></a>
    </li>
    <li class="list-inline-item">
      <a href="#" class="fa fa-instagram"></a>
    </li>
    
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 " style="color: White" >© 2020 Copyright:
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js %} {% endblock %}
  </body>










  
</html>
